.product-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  width: 100%;
}

.card-container {
  margin: 10px; /* Adjust this value as needed */
}

.product-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 10px;
}

.price {
  font-weight: bold;
  margin-right: 10px;
}
.button-container {
  display: flex;
  align-items: center;
}

.button-container .MDBBtn {
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
}

.btn-buy-now,
.cart-icon {
  margin-left: 10px;
}

.card {
  /* existing styles */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure content is evenly distributed */
}

.card-container {
  transition: transform 0.3s ease, border-color 0.3s ease; /* Added border-color transition */
  border: 1px solid black; /* Initially transparent border */
}

.card-container:hover {
  transform: scale(1.05);
  border-color: #dd7979; /* Change border color on hover */
}

.card-container:active {
  transform: scale(0.95);
  border-color: #28a745; /* Change border color on click */
}
.card-container .button-container .MDBBtn {
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
}