.custom-center-class {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  column-gap: 5px;
}

.circular-image-container {
  text-align: center; /* Center align content */
 /* margin to reduce the space between items */
}



.circular-image-container a {
  display: block; 
  margin-top: 5px; 
  text-decoration: none;
  color: black;
}
.custom-center-class {
  display: flex;
  justify-content: center;
}

.circular-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circular-image-container img {
  border-radius: 50%;
  width: 120px; /* Default size for desktop */
  height: 120px; /* Default size for desktop */
  object-fit: cover;
}

@media (max-width: 991px) {
  .circular-image-container img {
    width: 100px; /* Adjust size for tablets */
    height: 100px; /* Adjust size for tablets */
  }
}
