
.wrapper {
    margin: 20px 0;
  }
  .shadow-lg {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
