.footer {
    width: 100%;
    background-color: #333; 
    color: white; 
    padding: 20px;
    text-align: center;
  position:fixed;
    bottom: 0;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; 
  }
  
  .text-area{
    margin-top: 10px;
    height: 40px;
  width: 400px;
  }
  #summit-btn{
    color: white;
    border: none;
    height: 30px;
    width: 100px;
    text-align: center;
    margin-top: 5px;
    background-color: #4CAF50;
    cursor: pointer;
  }
  .footer h1 {
    font-size: 1.5em; 
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
    display: block;
  }
  .right p{
    font-size: 20px;
  }
  .footer ul li {
    margin-bottom: 8px;
  }
  .social-links {
    position: relative;
    top: 20px; 
  }
.social-links a{
    color: white;
    font-size: 1.5em;
    margin-right: 20px;
    margin-top: 20px;
}
  a{
    color: white;
  }
  @media (max-width: 640px) {
    .footer-container {
      grid-template-columns: 1fr;
    }
  }
