.sharedStyle {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: rgb(33, 33, 33);
}

.spec_pro_head {
  margin-top: 20px;
}

.img_cont {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  margin-bottom: 20px;   
}

.img_cont img {
  border-radius: 8px;
  width: 100%;          
  max-width: 400px;      
  height: 500px;         
  object-fit: cover;    
}

.buttons {
  display: flex;
  justify-content: center; 
  gap: 10px;               
  margin-top: 20px;      
}


.buttons .btn:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.buttons .btn:focus {
  outline: none;
}

.col_two .card {
  border: none;
}

.product_name {
  font-size: 1.5rem;
  font-weight: bold;
}

.product_desc {
  font-size: 1rem;
  color: #666;
}

.price_cont {
  margin-top: 20px;
  font-weight: bold;
}

.product_cost {
  display: flex;
  flex-direction: row; 
  align-items: center; 
}

.product_cost h3 {
  margin-right: 10px;
  color: #ff5722; 
  font-size: 2rem; 
  padding-bottom: 5px;
}

.product_cost .dicount {
  text-decoration: line-through;
  color:black;
  margin-left: 10px;
  padding-top: 7px;
}

.product_cost .discount_offer {
  margin-left: 10px;
  color: green;
  font-size: 1.5rem; 
}
.avail_offer {
  margin-top: 10px;
  font-weight: bold;
}

.spcl_offer {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.spcl_offer i {
  color: rgb(79, 222, 96);
  margin-right: 10px;
}

.spcl_offer .avail_cont {
  color: rgb(33, 33, 33);
  margin-bottom: 5px; 
}

.confirmation-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}


.login-prompt {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-height: 70px;
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

@media (max-width: 768px) {
  .product_name {
    font-size: 1.25rem;
  }

  .product_desc {
    font-size: 0.875rem;
  }

  .product_cost h3 {
    font-size: 2rem; 
  }

  .product_cost .discount_offer {
    font-size: 1.5rem; 
  }

  .spcl_offer {
    padding: 6px; 
    font-size: 0.75rem; 
  }

  .spcl_offer i {
    margin-right: 5px;
  }
}

@media (max-width: 480px) {
  .product_cost h3 {
    font-size: 2rem; 
  }

  .product_cost .discount_offer {
    font-size: 1.5rem; 
  }
}